# Base de Datos
DATABASE_URL="postgresql://erp_admin:supersecretpassword@db:5432/erp_database?schema=public"

# Servidor
PORT=3000

# Seguridad
JWT_SECRET="CAMBIAR_ESTO_EN_PRODUCCION"

# Frontend Link (CORS)
FRONTEND_URL="https://midominio.com"

# Mailer (Ethereal Dev / SMTP real)
SMTP_HOST="smtp.xxxx.com"
SMTP_PORT=587
SMTP_USER="user@xxxx.com"
SMTP_PASS="password"
